<footer id="unified_footer" class="quick_trans center_text">
    <hr>
    <a href="#" onClick="location.reload()">רענן עמוד</a> | <a href="{{ url_for('home') }}">דף הבית</a><br>
    <a href="https://www.mta.ac.il"> <img src="{{ url_for('static', filename='mta.png') }}" alt="אתר המכללה"
                                          height="25px" width="70px"></a><a href="#"><img
        src="{{ url_for('static', filename='otr.png') }}"></a><br>
    © כל הזכויות שמורות: רותם, עומר ותומר
</footer>