<script>
    function toggleSideNav() {
        var x = document.getElementById("hamburger");
        var fadedElements;
        var fadedElement1 = document.getElementById("main_layout");
        var fadedElement2 = document.getElementById("unified_footer");
        var fadedElement3 = document.getElementById("subtitle_container");
        if (getComputedStyle(x).width <= "1px") {
            x.style.width = "260px";
            fadedElement1.style.opacity = "0.2";
            fadedElement2.style.opacity = "0.2";
            fadedElement3.style.opacity = "0.2";
        } else {
            x.style.width = "0px";
            fadedElement1.style.opacity = "1";
            fadedElement2.style.opacity = "1";
            fadedElement3.style.opacity = "1";
        }
    }
</script>
<header class="flex_me">
    {% if current_user.is_authenticated %}
        <img class="user_type" src="{{ url_for('static', filename='default_team.png') }}">
    {% endif %}
    <a href="{{ url_for('home') }}" class="logo"><img src="{{ url_for('static', filename='header_logo.png') }}"
                                                      alt="חזור לעמוד הראשי"></a>
    {% if current_user.is_authenticated %}
        <button class="nav_btn" onclick="toggleSideNav()"><i class="fa fa-bars"></i></button>
    {% endif %}
</header>
