/*------------------------- Generic content -------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

html {
    direction: ltr;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* ^ a defualt value, in case the google fonts are not working */
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    background: -webkit-linear-gradient(to bottom, #90D6F4, #FFFFFF) no-repeat center center fixed;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #90D6F4, #FFFFFF) no-repeat center center fixed;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    flex-direction: column;
}

.hide_link {
    color: unset;
    text-decoration: none;
}

.hide_link:hover {
    text-decoration: none;
}

.flex_me {
    display: flex;
}

.not_allowed {
    cursor: not-allowed;
}

.quick_trans {
    transition: 0.5s;
}

.center_text {
    text-align: center;
}

.unset-display {
    display: unset;
}

.text-align-right {
    text-align: right;
}

.display-none {
    display: none;
}

.no_deco {
    list-style: none;
}

.date_field {
    text-align: right;
}

.center_marg {
    margin: auto;
}

.font_rub {
    font-family: Rubik;
}

.hidden {
    visibility: hidden;
}

.disabledSelect {
    background-color: lightgray;
}

.img_btn {
    border: 0;
    background: transparent;
}

#hamburger a:hover,
.nav_btn:hover,
.option_button a:hover,
#report_summary:hover,
.guide_btn:hover {
    color: #659cef;
    text-decoration: none;
}

.hover_scale:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

/*----------- Scrollbar design -----------*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*------------------------- Header -------------------------*/
header {
    background-color: white;
    padding: 6px;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.user_type {
    height: 40px;
}

.nav_btn {
    background-color: white;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: black;
    padding-left: 10px;
}

/*------------------------- NAV -------------------------*/
#hamburger {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    border-left: 1px solid black;
    box-shadow: 4px 0px 30px black;
}

#nav_logo {
    width: 190px;
    height: 50px;
    margin: 6px auto;
}

#hamburger a {
    padding: 6px 0px 10px 0px;
    text-decoration: none;
    font-size: 28px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 95%;
    text-align: right;
    outline: none;
}

#hamburger a img {
    padding: 0px 0px 0px 15px;
    height: 50px;
    vertical-align: middle;
}

#hamburger hr {
    width: 100%;
    margin: 8px 0px;
}

/*------------------------- Main content -------------------------*/
#subtitle_container {
    text-align: center;
}

main {
    flex-grow: 1;
    overflow-y: auto;
}

.unified_layout {
    direction: rtl;
    width: 95%;
    margin: auto;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    justify-content: center;
}

/*----------- Login ------------*/
.login_layout {
    width: 23%;
    border-radius: 8px;
    margin-top: 1%;
}

.app_logo {
    width: 35%;
    max-height: 5%;
    display: block;
    margin: 5% auto;
}

/*----------- Create Report ------------*/
.unified_layout .report_form {
    margin: auto;
    padding: 1% 0 1%;
    width: 70%;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.control_buttons {
    margin-top: 2%;
}

.control_buttons a {
    padding: 1px;
}

.control_buttons_watch {
    width: 60%;
    margin: auto;
}

/*----------- View Report ------------*/

.report_info_box {
    width: 30%;
    background: rgba(255, 255, 255, 0.8);
    border: 2px outset gray;
    padding: 4px;
    overflow-y: auto;
    overflow-x: hidden;
}

.response_info_box {
    width: 95%;
    border-radius: 10px;
}

.response_info {
    margin: auto;
}

/*----------- Reports ------------*/
.options {
    width: 40%;
    margin: auto;
    margin-top: 2%;
    /* shorter */
    justify-content: space-evenly;
}

.option_button {
    font-size: 1.3em;
    font-weight: bold;
}

.option_button:hover {
    opacity: 0.7;
    transform: scale(1.3);
    transition: 1s;
}

.option_button img {
    height: 80px;
}

.boxes_container {
    padding-top: 3%;
    height: 70%;
    justify-content: space-evenly;
}

.custom-radio {
    width: 45%;
}

.box {
    width: 35%;
    background: rgba(255, 255, 255, 0.8);
    border: 2px outset gray;
    padding: 19px;
    overflow-y: auto;
    overflow-x: hidden;
}

.search form {
    width: 120%;
    padding: 1.5% 13% 0px 0px;
    text-align: right;
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

.report_list li {
    border: 1px solid #dddddd;
    background-color: #ffffff;
    list-style: none;
    margin: 2px;
    display: flex;
    /* I wrote this despite the flex class, so we won't copy the class for each and every li */
    justify-content: flex-start;
}

#report_summary {
    font-family: 'Arial Regular', 'Arial';
    text-align: right;
    margin: 0px 6px;
}

.report_list img {
    padding: 5px 4px;
}


/*----------- First steps ------------*/
.slide-container {
    display: none;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slideshow-container {
    position: relative;
    margin: auto;
}

.fade-animation {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.first-steps .content-container {
    padding-left: 1em;
    padding-right: 1em;
}

.first-steps .content-container {
    justify-content: space-between;
    width: 100%;
}

.first-steps .content-container .content {
    padding-left: 1em;
}

.video {
    width: 560px;
    height: 315px;
    border: 1px solid black;
    border-radius: 15px;
}

.sponsers {
    margin-bottom: 1em;
}

.sponsers img {
    transition: 0.5s;
}

.sponsers img:hover {
    transform: scale(1.2);
}


.sponsers .horizontal-logo {
    width: 200px;
    margin-left: 1em;
}

.sponsers .square-logo {
    height: 100px;
    margin-left: 1em;
}

.start-btn-wrapper {
    margin: 1.6em auto;
}


@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}


/*----------- Donation ------------*/
#btnShow {
    position: relative;
    left: 0.4%;
    top: 1%;
}

.guide_btn {
    background-color: unset;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: black;
}

#guide_box {
    display: none;
    direction: rtl;
    text-align: justify;
}

.ctrl {
    align-items: center;
    background-color: #fff;
    height: 30%;
    width: 15%;
    font-size: 350%;
    margin: 1% auto;
    border: 1px solid black;
}

.ctrl__button--decrement,
.ctrl__button--increment {
    width: 500PX;
    height: 80px;
    line-height: 85px;
    color: #fff;
    cursor: pointer;
    background-color: #8498a7;
    -webkit-transition: background-color 100ms ease-in;
    transition: background-color 100ms ease-in;
    border-radius: 5px 0 0 5px;
    position: relative;
    right: 80px;
}

.ctrl__button--increment {
    border-radius: 0 5px 5px 0;
    right: -79px;
}

.ctrl__counter {
    position: relative;
    width: 1000px;
    height: 100px;
    color: #333C48;
    overflow: hidden;
}

.ctrl__counter.is-input .ctrl__counter-num,
.ctrl__counter.is-input .ctrl__counter-input {
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
}

.ctrl__counter.is-input .ctrl__counter-input {
    opacity: 1;
    font-size: 40px;
}

.ctrl__counter-input {
    width: 100%;
    position: relative;
    z-index: 2;
    box-shadow: none;
    outline: none;
    border: none;
    color: #333C48;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
}

.ctrl__counter-num {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 100px;
    opacity: 1;
    -webkit-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
}

.ctrl__button--decrement:hover,
.ctrl__button--increment:hover {
    background-color: #dd0e1f;
    -webkit-transition: background-color 200ms ease-in;
    transition: background-color 200ms ease-in;
}

.ctrl__button--increment:hover {
    background-color: #21e20f;
}

.payment_choice {
    width: 60%;
    margin: 4% auto 4%;
    flex-direction: row;
    flex-wrap: wrap;
}

.payment_option {
    font-size: 1.5em;
    font-weight: bold;
    flex-grow: 2;
    margin: 10px;
}

.payment_option img {
    height: 85px;
}

.payment_option img:hover {
    opacity: 0.7;
    transform: scale(1.2);
    transition: 1s;
}

.finish_btn {
    justify-content: center;
    padding: 10px;
}

.finish_btn button {
    width: 20%;
}

/*------------------------- bit donation -------------------------*/

.bit_box {
    width: 40%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.bold_input {
    border: 2px dotted dodgerblue;
    border-radius: 6px;
}

.bit_pay {
    width: 12em;
    border: 1px solid black;
}

.the_img, .the_form {
    padding: 3%;
}

/*------------------------- Invoice -------------------------*/

.paper_inv {
    width: 50%;
    display: block;
    margin: 2% auto;
    border: 1px solid black;
}

.size_box {
    width: 30%;
}

/*------------------------- Manage Campaign -------------------------*/
.manage_box {
    height: 140%;
}

.manage_search {
    padding: 30px 10px 50px 0px;
    margin: auto 0px;
}

.big_src {
    width: 66%;
}


/*------------------------- Campaign Control Panel -------------------------*/
.ctrl_box {
    height: 60%;
}

/*------------------------- Campaign Neighborhoods Panel -------------------------*/
.neighborhoods-add-panel {
    direction: rtl;
}

.neighborhoods-add-form {
    padding: 1em 1em 0 1em;
    text-align: right;
}

.neighborhoods-control-no-neighborhood {
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
    color: #dc3545;
}

.neighborhoods-control-container {
    padding-top: 1em;
}

.neighborhoods-control-row {
    background: white;
    text-align: right;
    line-height: 300%;
    border-radius: 5px;
    border: solid 2px #90D6F4;
    margin-bottom: 0.5em;
    max-width: 33.333333%;
    min-width: 350px;
    padding-left: 5px;
    padding-right: 5px;
}

.neighborhoods-control-row__neighborhood-name {
    font-size: larger;
}

.neighborhoods-control-row__icon_link {
}

.neighborhoods-control-row__icons-wrapper {
    float: left;
}

.neighborhoods-control-row__icon {
    height: 2em;
    width: 2em;
}

#team-user-dialog {
    text-align: right;
    direction: rtl;
}

#are-you-sure {
    direction: rtl;
    text-align: right;
}

.are-you-sure__btn-wrapper {
    text-align: center;
}


/*------------------------- Route Builder -------------------------*/

.route-builder {
    text-align: right;
}

.route-builder-team-panel {
    float: right;
    height: 100%;
    width: 20%;
    padding-top: 1em;
    overflow: auto;
    border-left: solid;
    padding-right: 10px;
    padding-left: 10px;
}

.route-builder-team-panel__buttons-wrapper {
    margin-bottom: 0.5em;
    text-align: center;
}

.route-builder-team-panel__save-btn {
    width: 65%;
    min-width: 6em;
}

.route-builder-team-panel__add-btn, .route-builder-team-panel__remove-btn {
    width: 15%;
    min-width: 3em;
}

.route-builder-team-panel__team {
    border-bottom: solid 2px;
    cursor: pointer;
    transition: transform 0.26s ease;
}

.route-builder-team-panel__team__selected {
    background: #c6efce;
}

.route-builder-team-panel__team_title {
    text-decoration: underline;
    font-weight: bolder;
}

.route-builder-team-panel__total-line {
    position: absolute;
    bottom: 0;
    border-top: solid;
    width: calc(20% - 40px);
    height: 1.2em;
}

.route-builder-team-panel__routes {
    overflow: auto;
    height: 80%;
}

.route-builder-team-panel__team_title__no_route, .route-builder-team-panel__team_title__unclean {
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
}

.route-builder-team-panel__team_title__no_route {
    color: red;
}

.route-builder-team-panel__team_title__unclean {
    color: #659cef;
}


.route-builder-team-panel__team_route ul {
    display: unset;
    margin: unset;
    padding: unset;
}

.route-builder-team-panel__team_route ul li {
    transform: unset;
    transition: unset;
    list-style-type: disc;
    margin-right: 1.5em;
}

.route-builder-map-panel {
    height: 100%;
    float: right;
    width: 80%;
}

.route-builder-map__info_window {
    font-size: 14px;
    padding: 5px;
}

.route-builder-map__info_window span {
    display: block;
}

.route-builder-team-title {
    margin-top: 10px;
}

/*------------------------- Selecting address -------------------------*/
.donation-address {
    text-align: center;
}

.donation-address-selection {
    border: solid;
    display: inline-block;
    padding: 1em;
    width: 20em;
    margin-top: 1em;
}

.donation-address-map {
    min-width: 20em;
    margin: auto;
    height: 20em;
    max-width: 70%;
}

.donation-address-selection__search {
    margin-bottom: 1em;
}

.donation-address-selection__building-list ul li.selected {
    color: #fff;
    background-color: #007bff !important;
}

.donation-address-selection__building-list ul li {
    transform: unset;
    transition: unset;
    list-style-type: none;
    background: white;
    border: solid 1px black;
    cursor: pointer;
}

/*------------------------- Errors -------------------------*/
.error_pic {
    width: 35%;
    display: block;
    margin: 4% auto;
}


/*------------------------- Footer -------------------------*/

#unified_footer {
    width: 100%;
    padding-bottom: 5px;
}

hr {
    border-top: 1px solid #C7CACB;
    width: 75%;
}

#unified_footer a img {
    margin-right: 25px;
}

#unified_footer img {
    margin: 5px;
}

/*------------------------- Media Queries -------------------------*/

@media only screen and (max-width: 1260px) {
    .box {
        margin: auto 20px;
        height: 100%;
    }

    .boxes_container {
        justify-content: center;
    }

    /* Login */
    .login_layout {
        width: 50%;
    }

    /* Donation */
    .ctrl {
        width: 27%;
        height: 35%;
    }

    .payment_choice {
        width: 75%;
        margin: 7% auto;
    }

    .custom-radio {
        width: 30%;
        font-size: 13px;
    }

    /* Invoice */
    .paper_inv {
        width: 70%;
    }
}

@media screen and (max-width: 900px) {

    .box {
        width: 50%;
    }

    .report_info_box {
        width: 60%;
    }

    /* Donation */
    .ctrl {
        width: 35%;
    }

    .payment_choice {
        margin: 12% auto;
    }

    .payment_option img {
        height: 56px;
    }

    .form-row {
        width: 80%;
    }

    /* first steps */
    .first-steps .content-container {
        flex-wrap: wrap;
    }

    .sponsers-wrapper {
        display: none;
    }

    .slide-container {
        height: 250px;
    }

    .error_pic {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .neighborhoods-control-row {
        min-width: unset;
        max-width: unset;
    }
}


@media screen and (max-width: 600px) {
    /* Login */
    .login_layout {
        width: 90%;
    }

    /* reports */
    .search {
        display: none;
    }

    .option_button {
        margin: 10% 20% 0%;
    }

    .box {
        width: 100%;
        background: none;
        border: none;
        overflow-y: auto;
        margin: 0px 4px;
    }

    .report_info_box {
        width: 100%;
    }

    /* Create report */
    .unified_layout .report_form {
        margin-top: 10%;
    }

    /* Donation */
    .ctrl {
        height: 30%;
        width: 45%;
    }

    .payment_choice {
        margin: 8% auto;
    }

    .payment_option img {
        margin: 0px 20px;
    }

    #mail {
        width: 100%;
    }

    /* invoice */
    .paper_inv {
        width: 60%;
    }

    .size_box {
        background: rgba(255, 255, 255, 0.8);
        width: 90%;
        border: 2px outset gray;
    }

    /* first steps */
    .video {
        display: none;
    }

    .first-steps .content-container .content h4 {
        text-align: center;
    }

    .first-steps .content-container .content p {
        text-align: justify;
    }

    .slide-container {
        height: 150px;
    }

    /* collective */
    #subtitle_container {
        display: none;
    }

    .unified_layout {
        margin-top: 10px;
    }

    .header {
        margin-bottom: 5px;
    }

    .error_pic {
        width: 50%;
        margin: 10% auto;
    }

}


@media screen and (max-width: 390px) {
    .neighborhoods-control-row__icons-wrapper {
        float: unset;
        text-align: center;
    }

    .neighborhoods-control-row {
        min-width: unset;
        max-width: unset;
    }
}

@media screen and (max-width: 360px) {
    .option_button {
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
    }

    .option_button img {
        height: 50px;
    }

    .boxes_container {
        height: 80%;
    }

    h3 {
        display: none;
    }

    /* Donation */
    .ctrl {
        height: 25%;
        margin-top: 9%;
    }

    .ctrl__button--decrement {
        right: 50px;
    }

    .ctrl__button--increment {
        right: -50px;
    }

    .payment_choice {
        width: 80%;
        margin: 10% auto;
    }

    .payment_option img {
        height: 56px;
        margin: 0px 2px 20px;
    }

    .finish_btn button {
        width: 50%;
    }

    /* invoice */
    .paper_inv {
        width: 80%;
    }

    /* first steps */
    .text {
        font-size: 11px;
    }

    .slide-container {
        height: 120px;
    }

    .error_pic {
        width: 80%;
        margin: 10% auto;
    }
}