{% extends "layout.html" %}
{% block content %}
    <div id="subtitle_container">
        <h3>על הארגון</h3>
    </div>
    <main id="main_layout" class="unified_layout first-steps" style="text-align: right;">
        <section>
            <div class="slideshow-container center_text">
                <div class="slide-container fade-animation"
                     style="background-image: url(../static/pic1.jpg); display: block;">
                </div>
                <div class="slide-container fade-animation" style="background-image: url(../static/pic2.jpg);"></div>
                <div class="slide-container fade-animation" style="background-image: url(../static/pic3.png);"></div>
            </div>
        </section>
        <br>
        <div class="content-container flex_me">
            <div class="content">
                <section>
                    <h4>על הארגון</h4>
                    <p>
                        האגודה למלחמה בסרטן בישראל (ע"ר) נוסדה בשנת 1952 במטרה להקטין את
                        התחלואה והתמותה ממחלת הסרטן ולשפר את איכות חיי החולים. האגודה
                        הינה מוסד ללא כוונות רווח הפועלת הודות לתרומות הציבור וללא כל
                        מימון מתקציב של משרד ממשלתי כלשהו. עובדה המאפשרת את המציאות לפיה
                        הסיוע הניתן על ידי האגודה נקבע ללא מעורבות של שיקולים זרים, על
                        ידי ועדות מקצועיות שחברים בהן בהתנדבות נציגים ממיטב אנשי הרפואה
                        והמחקר ברחבי הארץ. הפרויקטים שנתמכים נבחנים בקפידה, לאחר שיקול
                        דעת מקצועי וענייני לטובת הנושא ברמה הלאומית. שנות פעילותה בארץ
                        ומגוון התחומים אותם קידמה, הקנו לאגודה למלחמה בסרטן הכרה
                        ציבורית, לאומית ובינלאומית רחבה. לאגודה קבוצות ידידים במספר
                        ארצות בחו"ל וייצוג בפורומים חשובים בישראל ובעולם.
                    </p>
                </section>
                <section>
                    <h4>הנחיות לצוות</h4>
                    <p>
                        עליכם לפעול לפי המסלול שקיבלתם מהמורה שלכם ולתעד באמצעות
                        האפליקציה כל בניין בו ביקרתם. על כל תרומה שנאספה יש לתעד
                        באפליקציה ולסמן מה סכום התרומה, אמצעי התשלום שהתקבל ואיזו קבלה
                        הונפקה (מפנקס הקבלות או קבלה דיגיטלית). במתן קבלה מפנקס הקבלות
                        יש לתעד את הקבלה באפליקציה על ידי צילומה והקשת מספר אסמכתא ובמתן
                        קבלה דיגיטלית יש להזין ובתן קבלה דידיגטלית יש להזין את כתובת
                        המייל של התורם.
                    </p>
                    <p>
                        <strong>מספר דגשים:</strong><br> אין להיכנס לדירתם של אנשים ולנסות לבקש בנימוס את
                        התרומה מעבר לדלת. בכל תחושה של סכנה או מפגע בהמשך הדרך ניתן
                        ליצור דיווח באפליקציה אשר יקבל מענה בהקדם האפשרי על ידי רכז
                        העירוני הממונה מטעם האגודה.
                    </p>
                    תודה על עזרתכם!
                </section>
            </div>
            <section>
                <iframe class="video" src="https://www.youtube.com/embed/Wyj3RiDNGEE" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </section>
        </div>

        <section class="sponsers-wrapper center_text">
            <h4>נותני החסויות:</h4>
            <div class="sponsers">
                <img src="{{ url_for('static', filename='logos/Clalit') }}.png" class="horizontal-logo"/>
                <img src="{{ url_for('static', filename='logos/Dan') }}.png" class="square-logo"/>
                <img src="{{ url_for('static', filename='logos/Maccabi') }}.png" class="horizontal-logo"/>
                <img src="{{ url_for('static', filename='logos/MTA') }}.png" class="horizontal-logo"/>
                <img src="{{ url_for('static', filename='logos/Osem') }}.png" class="horizontal-logo"/>
                <img src="{{ url_for('static', filename='logos/Shufersal') }}.png" class="horizontal-logo"/>
                <img src="{{ url_for('static', filename='logos/Telma.png') }}" class="horizontal-logo"/>
                <img src="{{ url_for('static', filename='logos/Unilever.png') }}" class="square-logo"/>
            </div>
        </section>
        <section class="start-btn-wrapper center_text">
            <a href="javascript:window.history.go(-1);">
                <button class="btn btn-primary btn-lg">חזור</button>
            </a>
        </section>
    </main>
{% endblock content %}