{% include "header.html" %}
  <div id="subtitle_container">
    <h3>ניהול קמפיין</h3>
  </div>
  <main id="main_layout" class="unified_layout">
    <section class="options flex_me center_text">
      <div class="option_button">
        <a class="hide_link not_allowed" href=#><img src="http://u.cubeupload.com/Chibameta/CreateNewIco1.png"
            alt="לא פעיל בכוונה"><br>
          עריכת פרטים
        </a>
      </div>
      <div class="option_button">
        <a class="hide_link" href="#"><img src="http://u.cubeupload.com/Chibameta/CreateNewIco1.png"><br>
          הנפקת דוחות
        </a>
      </div>
      <div class="option_button">
        <a class="hide_link" href="#"><img src="http://u.cubeupload.com/Chibameta/CreateNewIco1.png"><br>
          שכונות ומסלולים
        </a>
      </div>
    </section>
    <section class="boxes_container flex_me">
      <section class="box">
        <h3 class="center_text">שם הקמפיין</h3>
        <p>
          <ul class="center_text no_deco">
            <li>מועד הקמפיין: </li>
            <li>עיר משתתפת:</li>
            <li>יעד כספי:</li>
            <li>תרומות שהתקבלו:</li>
            <li>מספר צוותי תרומה:</li>
          </ul>
        </p>
      </section>
    </section>
  </main>
{% include "footer.html" %}

