{% extends "layout.html" %}
{% block content %}
    <div id="subtitle_container">
        <h3>{{ legend }}</h3>
    </div>
    <main id="main_layout" class="unified_layout">
        <form class="report_form" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.address.label(class="form-control-label") }}
                {% if form.address.errors %}
                    {{ form.address(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.address.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.address(class="form-control") }}
                {% endif %}
                <div>
                    <button type="button" class="img_btn" alt="מיקום אוטומטי" onclick="getCurrentLocation()">
                        <img src="/static/current_location.png" width="30px"/> מיקום אוטומטי
                    </button>
                </div>
            </div>
            <div class="form-group">
                {{ form.category.label(class="form-control-label") }}
                {% if form.category.errors %}
                    {{ form.category(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.city.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.category(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                    {{ form.description(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="form-control") }}
                {% endif %}
            </div>
            <div class="control_buttons">
                {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
                <a href="{{ url_for('reports') }}">
                    <button type="button" class="btn btn-secondary btn-lg btn-block">חזור</button>
                </a>
            </div>
        </form>
    </main>
    <script type="text/javascript"
            src="http://maps.google.com/maps/api/js?key=AIzaSyCeQSgOmTLHNxGk4Vg3JlTNCGD8BEO992Y&language=iw"></script>
{% endblock content %}
