<div id="guide_box">
    <div style="background-color:dodgerblue; color:white;"><h3>אופן ביצוע התרומה</h3></div>
    <p>
    <p>
        עליכם לפעול לפי המסלול המוצג שקיבלתם ולתעד את כל התרומות בכל הבניינים בהם ביקרתם:
    </p>
    <p>
        <strong>שלב 1: בחירת כתובת</strong><br>
        בחר כתובת לתרומה מתוך מסלול הצוות. לאחר מכן, לחץ "המשך".
    </p>
    <p>
        <strong>שלב 2: הזנת סכום התרומה</strong><br>
        באפשרותך להזין את סכום התרומה המבוקש באמצעות לחיצה על כפתור ה"+" וה"-", או לחלופין על-ידי הקשה על חלונית הסכום
        והקשת המספר.<br>
        שימו לב כי אין צורך לתעד תרומות מתחת ל-5 שקלים.
    </p>
    <p>
        <strong>שלב 3: בחירת אמצעי התשלום</strong><br>
        ניתן לבחור את אמצעי התשלום המבוקש באמצעות לחיצה על האייקון שלו או העיגול שתחתיו.<br>
    <ul>
        <li> במידה ואמצעי התשלום המבוקש הוא מזומן, תועבר מיידית לשלב 4.</li>
        <li> במידה והתרומה מתבצעת בbit, על התורם להוסיף את המספר המוצג לרשימת אנשי הקשר במכשיר שלו ולבצע העברה כספית
            אליו דרך אפליקציית ביט. לאחר ביצוע ההעברה יש לרשום את מספר האישור המופיע במסך אפליקציית ביט.
        </li>
        <li> במידה והתרומה מתבצעת דרך PayPal, על התורם להתחבר לחשבון הפייפל שלו ולאשר את התשלום.
        </li>
    </ul>
    </p>
    <p>
        <strong>שלב 4: שליחת חשבונית</strong><br>
        לחץ על כפתור "המשך" בכדי להגיע למסך החשבונית.
        במסך זה עליך לציין האם החשבונית המבוקשת היא חשבונית דיגיטלית או נייר:<br>
    <ul>
        <li> במידה והחשבונית דיגיטלית, יש להזין את כתובת המייל לשליחתה, ת.ז ושם התורם.</li>
        <li> במידה והחשבונית מנייר, יש לציין את מספר האסמכתא הרשום על החשבונית.</li>
        <li> במידה והתורם לא מעוניין בחשבונית, יש לתלוש חשבונית נייר ולציין את מספר האסמכתא הרשום על החשבונית.</li>
    </ul>
    </p>
    <p>
        <strong>שלב 5: סיום איסוף התרומה</strong><br>
        בכדי לאשר סופית את מתן התרומה, יש ללחוץ על כפתור "סיים".
    </p>
    <p>
        <strong>שלב 6: המשך לתרומה הבאה</strong><br>
        במידה והתרומה הבאה נעשית באותו הכתובת, יש ללחוץ על "המשך בכתובת זו", אחרת יש ללחוץ על "בחירת כתובת".
    </p>
    <p>
        <strong>מספר דגשים:</strong><br> אין להיכנס לדירתם של אנשים ולנסות לבקש בנימוס את
        התרומה מעבר לדלת. בכל תחושה של סכנה או מפגע בהמשך הדרך ניתן
        ליצור דיווח באפליקציה אשר יקבל מענה בהקדם האפשרי על ידי האחראי.
    </p>

    <p class="center_text"><strong>תודה על עזרתכם ובהצלחה!!!!</strong></p>
    </p>
</div>
<script>
    function show_donation_guidance_box() {
        const parent = document.getElementsByClassName('hidden')[0];
        parent.innerHTML = '<div id="modal-content" style="text-align: center;direction: rtl; overflow-y:auto;">' + document.getElementById('guide_box').innerHTML + '<a href="#close" rel="modal:close"><button class="btn btn-secondary">סגור</button></a></div>';
        $('#modal-content').modal({
            escapeClose: true,
            clickClose: true,
            showClose: false
        })
    }
</script>