  <div id="guide_box">
    <p>
      <p>
        <strong>שלב 1: בחירת כתובת</strong><br>
        בחר כתובת לתרומה מתוך מסלול הצוות, או הזן כתובת חדשה. לאחר מכן, לחץ "המשך".
      </p>
      <p>
        <strong>שלב 2: הזנת סכום התרומה</strong><br>
        באפשרותך להזין את סכום התרומה המבוקש באמצעות לחיצה על כפתור ה"+" וה"-", או לחלופין על-ידי הקשה על חלונית הסכום
        והקשת המספר<br>
        שימו לב כי אין צורך לתעד תרומות מתחת ל-5 שקלים
      </p>
      <p>
        <strong>שלב 3: בחירת אמצעי התשלום</strong><br>
        ניתן לבחור את אמצעי התשלום המבוקש באמצעות לחיצה על העיגול הנמצא מתחת לאמצעי התשלום.<br>
        <ul>
            <li> במידה ואמצעי התשלום המבוקש הוא מזומן, תועבר מיידית לשלב 4. </li>
            <li> במידה והתרומה מתבצעת בbit, על התורם להוסיף את המספר המוצג לרשימת אנשי הקשר במכשיר שלו ולבצע העברה כספית אליו דרך אפליקציית ביט. לאחר ביצוע ההעברה יש לרשום את מספר האישור המופיע במסך אפליקציית ביט. </li>
            <li> במידה והתרומה מתבצעת דרך PayPal, נדון על כך בהמשך... </li>
        </ul>
      </p>
      <p>
        <strong>שלב 4: שליחת חשבונית</strong><br>
        לחץ על כפתור "המשך" בכדי להגיע למסך החשבונית.
        במסך זה עליך לציין האם החשבונית המבוקשת היא חשבונית דיגיטלית או נייר:<br>
        <ul>
            <li> במידה והחשבונית דיגיטלית, יש להזין את כתובת המייל לשליחתה, ת.ז ושם התורם. </li>
            <li> במידה והחשבונית מנייר, יש לציין את מספר האסמכתא הרשום על החשבונית. </li>
            <li> במידה והתורם לא מעוניין בחשבונית, יש לתלוש חשבונית נייר ולציין את מספר האסמכתא הרשום על החשבונית. </li>
        </ul>
      </p>
      <p>
        <strong>שלב 5: השלמת התהליך</strong><br>
        בכדי לאשר סופית את מתן התרומה, יש ללחוץ על כפתור "סיים"
      </p>
    </p>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>