{% extends "layout.html" %}
{% block content %}
    <div id="subtitle_container">
        <h3>תרומה</h3>
    </div>
    <main id="main_layout" class="unified_layout">
        <h1 class="center_text"> תודה רבה על תרומתך! </h1>
        <img style="width: 35%; display: block; margin: 0.5% auto;"
             src="{{ url_for('static', filename='fund_thanks.png') }}">
        <!-- Illustration by: https://icons8.com-->
        <a class="finish_btn flex_me" href="{{ url_for('get_donation') }}">
            <button type="button" class="btn btn-primary btn-lg">המשך בכתובת זו</button>
        </a>
        <a class="finish_btn flex_me" href="{{ url_for('donation_address') }}">
            <button type="button" class="btn btn-primary btn-lg">בחירת כתובת</button>
        </a>
    </main>
{% endblock content %}