{% extends "layout.html" %}
{% block content %}
    <div id="subtitle_container">
        <h3>תרומה</h3>
    </div>
    <main id="main_layout" class="unified_layout">
        <h2 class="center_text" style="padding-top: 15px;"> תודה רבה על תרומתך! </h2>
        <img class="end_img" src="{{ url_for('static', filename='fund_thanks.png') }}">
        <!-- Illustration by: https://icons8.com-->
        <a class="finish_btn flex_me" href="{{ url_for('get_donation') }}">
            <button type="button" class="btn btn-primary btn-lg">המשך בכתובת זו</button>
        </a>
        <a class="finish_btn flex_me" href="{{ url_for('donation_address') }}">
            <button type="button" class="btn btn-primary btn-lg">בחירת כתובת</button>
        </a>
    </main>
{% endblock content %}