{% extends "layout.html" %}
{% block content %}
    <main id="main_layout" class="quick_trans center_text">
        <section class="user_info">
            <div class="user">
                {% if current_user.is_admin %}
                    <img class="flex_me" src="{{ url_for('static', filename='default_admin.png') }}" alt="Admin photo">
                {% else %}
                    <a class="hide_link" href="{{ url_for('view_team', team_id=current_user.team_id) }}">
                        <img class="flex_me" src="{{ url_for('static', filename='default_team.png') }}"
                             alt="Team photo">
                    </a>
                {% endif %}
            </div>
            <div class="usernames flex_me">
                <div>{{ current_user.team.first_teammate_name if current_user.team.first_teammate_name }}</div>
                <div style="color: #459cef;">{{ current_user.team.name if current_user.team.name }}</div>
                <div>{{ current_user.team.second_teammate_name if current_user.team.second_teammate_name }}</div>
            </div>
        </section>
        <section class="buttons flex_me">
            {% if current_user.is_admin %}
                <div class="icon">
                    <a class="hide_link" href="{{ url_for('create_campaign') }}"><img
                            src="{{ url_for('static', filename='CreateCamp.png') }}"
                            alt="צור קמפיין"><br>
                        צור קמפיין</a>
                </div>
                <div class="icon">
                    <a class="hide_link" href="{{ url_for('manage_campaign') }}"><img
                            src="{{ url_for('static', filename='management.png') }}"
                            alt="צור קמפיין"><br>
                        ניהול קמפיין</a>
                </div>
            {% else %}
                <div class="icon">
                    <a class="hide_link" href="{{ url_for('donation_address') }}"> <img
                            src="{{ url_for('static', filename='donation.png') }}"
                            alt="תרומות"><br>
                        תרומות</a>
                </div>
                <div class="icon">
                    <a class="hide_link" href="{{ url_for('view_team', team_id=current_user.team_id) }}"><img
                            src="{{ url_for('static', filename='teams.png') }}"
                            alt="הצוות שלי"><br>
                        הצוות שלי</a>
                </div>
            {% endif %}
            <div class="icon">
                <a class="hide_link not_allowed" href="#"><img src="{{ url_for('static', filename='leaderboard.png') }}"
                                                               alt="לא פעיל"><br>
                    לוח הישגים</a>
            </div>
            <div class="icon">
                <a class="hide_link" href="{{ url_for('reports') }}"><img
                        src="{{ url_for('static', filename='report_ico.png') }}"
                        alt="דיווחים"><br>
                    דיווחים</a>
            </div>
        </section>
        {% if not current_user.is_admin %}
            <section class="usr_progress">
                <span id="earned_money">סכום שנאסף: {{ "₪{:,.0f}".format(progress.get('total_earnings', 0)) }} </span>
                <div class="usr_bar">
                    <span id="prog_precen" style="width: {{ progress.get('percentage', 0) }}%;">
                        {{ "{:,.1f}".format(progress.get('percentage', 0)) }}%
                    </span>
                </div>
            </section>
        {% endif %}
    </main>

{% endblock content %}