{% extends "layout.html" %}
{% block content %}
  <main id="main_layout" class="quick_trans  center_text">
    <section class="user_info">
      <div class="user">
        <img class="flex_me" src="http://u.cubeupload.com/Chibameta/TeamGif.gif" alt="Team photo">
      </div>
      <div class="usernames flex_me">
        <div>ישראל ישראלי</div>
        <div>יעקב יעקבי</div>
      </div>
    </section>
    <section class="buttons flex_me">
      <div class="icon">
        <a class="hide_link" href="{{ url_for('first_steps') }}"> <img src="http://u.cubeupload.com/Chibameta/FUNDIcoFix5.png"
            alt="תרומות"><br>
          תרומות</a>
      </div>
      <div class="icon">
        <a class="hide_link not_allowed" href="#"><img src="http://u.cubeupload.com/Chibameta/pplIcoFix.png"
            alt="לא פעיל בכוונה"><br>
          הצוות שלי</a>
      </div>
      <div class="icon">
        <a class="hide_link not_allowed" href="#"><img src="http://u.cubeupload.com/Chibameta/LBIcoFix.png"
            alt="לא פעיל בכוונה"><br>
          לוח הישגים</a>
      </div>
      <div class="icon">
        <a class="hide_link" href="{{ url_for('reports') }}"><img src="http://u.cubeupload.com/Chibameta/RepIcoFix.png"
            alt="דיווחים"><br>
          דיווחים</a>
      </div>
      <div class="icon">
        <a class="hide_link" href="{{ url_for('create_campaign') }}"><img src="static/CreateCamp.png"
            alt="צור קמפיין"><br>
          צור קמפיין</a>
      </div>
    </section>
    <section class="progress">
      <span id="earned_money"></span>
      <div class="bar">
        <span id="prog_precen"></span>
      </div>
    </section>
  </main>
{% endblock content %}