<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Hakesh&Trom</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
    <link href="https://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css">
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css" rel="stylesheet"
          type="text/css"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='pages_style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ url_for('static', filename='main_page.css') }}" rel="stylesheet" type="text/css"/>
    {% block header %}{% endblock %}
</head>
<body class="flex_me" onload="onLoad()">
{% include "common/flash_handler.html" %}
{% include "common/menu_header.html" %}
{% include "common/menu.html" %}
{% block content %}{% endblock %}
<footer id="unified_footer" class="quick_trans center_text">
    <hr>
    <a href="#" onClick="location.reload()">רענן עמוד</a> | <a href="{{ url_for('home') }}">דף הבית</a><br>
    <a href="https://www.mta.ac.il"> <img src="{{ url_for('static', filename='mta.png') }}" alt="אתר המכללה"
                                          height="25px" width="70px"></a><a href="#"><img
        src="{{ url_for('static', filename='otr.png') }}"></a><br>
    © כל הזכויות שמורות: רותם, עומר ותומר
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script>
    totalProgressImitation();
</script>
</body>
</html>