{% extends "base_layout.html" %}

{% block header %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block layout %}
    <div id="subtitle_container">
        <h3>ניהול מסלול</h3>
    </div>
    <main id="main_layout" class="unified_layout route-builder">
        <div class="route-builder-team-panel">
            {% for team in neighborhood_teams %}
                <div class="route-builder-team-panel__team" data-id="{{ team['id'] }}">
                <span class="route-builder-team-panel__team_title">
                    <span class="h3">
                        צוות {{ team['id'] }}
                    </span>
                    {% if not team['buildings'] %}
                        <span class="route-builder-team-panel__team_title__no_route">!</span>
                    {% endif %}
                </span>
                    <div class="route-builder-team-panel__team_route collapse">
                        {% if team['buildings'] %}
                            <ul>
                                {% for building in team['buildings'] %}
                                    <li>
                                        {{ building['address'] }} - צפי: {{ building['predicted_earnings'] }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <span><b>סה"כ צפי רווח</b>:
                                {{ team['buildings'] | sum(attribute='predicted_earnings') }}
                            </span>
                        {% else %}
                            לא נבחר מסלול
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="route-builder-map-panel" id="map"></div>
    </main>
    <script>
        const AVAILABLE_COLOR = '#55eb34';
        const NOT_AVAILABLE_COLOR = '#a2a4a6';
        const PICKED_TEAM_COLOR = '#4287f5';

        const teamELms = document.getElementsByClassName('route-builder-team-panel__team');
        const buildings = {{ neighborhood_buildings | tojson  }};
        const neighborhood =  {{ neighborhood_data | tojson }};
        const _teams = {{ neighborhood_teams | tojson }};
        const teams = _teams.map(t => ({...t, buildingIds: t.buildings.map(b => b.id)}))

        let selectedTeamId;
        let buildingLayerByTeamId = {};

        function convertPointToLatLng(point) {
            return {
                lng: point[0],
                lat: point[1]
            }
        }

        function updateTeamId(newTeamId) {
            if (!buildingLayerByTeamId[newTeamId]) buildingLayerByTeamId[newTeamId] = [];

            if (selectedTeamId) {
                // Preforming clean up
                for (const polygon of buildingLayerByTeamId[selectedTeamId]) {
                    polygon.setOptions({'fillColor': NOT_AVAILABLE_COLOR, strokeColor: NOT_AVAILABLE_COLOR})
                }
            }

            selectedTeamId = newTeamId

            // Color the buildings of the team
            for (const polygon of buildingLayerByTeamId[newTeamId]) {
                polygon.setOptions({'fillColor': PICKED_TEAM_COLOR, strokeColor: PICKED_TEAM_COLOR})
            }

            console.log('selectedTeamId was changed', selectedTeamId)
        }

        function closeAllRoutes() {
            return new Promise((resolve) => {
                $('.route-builder-team-panel__team_route').on('hidden.bs.collapse', function () {
                    resolve();
                })
            })
        }

        for (const teamElm of teamELms) {
            teamElm.addEventListener('click', async function () {
                const newSelectedTeamId = parseInt(this.getAttribute('data-id'), 10);

                if (newSelectedTeamId === selectedTeamId) {
                    return;
                }

                // Reset all the other teams
                for (const teamElm of teamELms) {
                    teamElm.classList.remove('route-builder-team-panel__team__selected')
                }
                // Turn on the selected team
                this.classList.add('route-builder-team-panel__team__selected')

                const routeElm = $(this).find('.route-builder-team-panel__team_route')

                if (selectedTeamId) {
                    // Close all the other routes
                    const closeAllRoutesOtherRoutes = closeAllRoutes()
                    $('.route-builder-team-panel__team_route').collapse('hide');
                    // Waiting for the close animation to close
                    await closeAllRoutesOtherRoutes;
                }

                // Open route for the selected team
                routeElm.collapse('show');

                // Update the selected team ID
                updateTeamId(newSelectedTeamId)
            })
        }

        function generateInfoWindowContent(building) {
            const contentDiv = document.createElement('div');
            contentDiv.classList.add('route-builder-map__info_window');

            const addressSpan = document.createElement('span');
            addressSpan.innerHTML = `<u><b>כתובת</b></u>:${building.address}`;
            contentDiv.appendChild(addressSpan);

            const predictedEarningsSpan = document.createElement('span');
            predictedEarningsSpan.innerHTML = `<u><b>צפי רווח</b></u>: ${building.predicted_earnings}`;
            contentDiv.appendChild(predictedEarningsSpan);

            const addBuildingToRoute = document.createElement('button');
            addBuildingToRoute.innerText = "הוסף למסלול";
            addBuildingToRoute.classList.add('btn', 'btn-primary');
            addBuildingToRoute.disabled = !Boolean(selectedTeamId)
            addBuildingToRoute.addEventListener('click', () => {
                console.log('I was added to the route', building);
            });
            contentDiv.appendChild(addBuildingToRoute);

            return contentDiv;
        }

        function addPolygon(map, infoWindow, building) {
            const teamForBuilding = teams.find(t => t.buildingIds.includes(building.id));

            const polygon = new google.maps.Polygon({
                fillOpacity: 0.38,
                map,
                building,
                paths: building.geometry.map(convertPointToLatLng),
                strokeOpacity: 0.8,
                strokeWeight: 2,
                strokeColor: teamForBuilding ? NOT_AVAILABLE_COLOR : AVAILABLE_COLOR,
                fillColor: teamForBuilding ? NOT_AVAILABLE_COLOR : AVAILABLE_COLOR
            });

            google.maps.event.addListener(polygon, "click", function (event) {
                infoWindow.setPosition(event.latLng);
                infoWindow.open(map);

                infoWindow.setContent(generateInfoWindowContent(building));
            });

            if (teamForBuilding) {
                // Initing the layer
                if (!buildingLayerByTeamId[teamForBuilding.id]) buildingLayerByTeamId[teamForBuilding.id] = []

                buildingLayerByTeamId[teamForBuilding.id].push(polygon)
            }
        }

        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 16,
                center: convertPointToLatLng(neighborhood.center_point),
                mapTypeId: "terrain"
            });

            const neighborhoodPolygon = new google.maps.Polygon({
                map,
                paths: neighborhood.geometry.map(convertPointToLatLng),
                fillOpacity: 0,
                strokeOpacity: 0.8,
                strokeWeight: 2,
                strokeColor: "#FF0000",
                fillColor: "#FF0000"
            });

            const infoWindow = new google.maps.InfoWindow({
                size: new google.maps.Size(150, 50)
            });

            google.maps.event.addListener(map, "click", function () {
                infoWindow.close();
            });

            for (const building of buildings) {
                addPolygon(map, infoWindow, building);
            }
        }
    </script>

    <script
            async
            defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeQSgOmTLHNxGk4Vg3JlTNCGD8BEO992Y&callback=initMap&libraries=visualization">
    </script>

{% endblock %}