{% extends "base_layout.html" %}

{% block header %}
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/loading-spinner.css') }}"/>
{% endblock %}

{% block layout %}
    <div id="subtitle_container">
        <h3 class="route-builder-team-title">ניהול מסלול</h3>
    </div>
    <main id="main_layout" class="unified_layout route-builder">
        <div class="route-builder-team-panel">
            <div class="route-builder-team-panel__buttons-wrapper">
                <button type="button" class="btn btn-info route-builder-team-panel__save-btn" id="save-button">שמור
                </button>
                <button type="button" class="btn btn-success route-builder-team-panel__add-btn" id="add-button">
                    +
                </button>
                <button type="button" class="btn btn-danger route-builder-team-panel__remove-btn" id="remove-button"
                        disabled>-
                </button>
            </div>
            <div class="route-builder-team-panel__routes">
                {% for team in neighborhood_teams %}
                    <div class="route-builder-team-panel__team" data-id="{{ team['id'] }}" id="team-{{ team['id'] }}">
                        <span class="route-builder-team-panel__team_title">
                            <span class="h3">
                                צוות {{ team['id'] }} - {{ "₪{:.2f}".format(team['predicted_total']) }}
                            </span>
                            {% if not team['buildings'] %}
                                <span class="route-builder-team-panel__team_title__no_route">!</span>
                            {% endif %}
                        </span>
                        <div class="route-builder-team-panel__team_route collapse">
                            {% if team['buildings'] %}
                                <ul>
                                    {% for building in team['buildings'] %}
                                        <li>
                                            {{ building['address'].split(',')[0] }} -
                                            צפי: {{ "₪{:.2f}".format(building['predicted_earnings']) }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <span>
                                  <b>סה"כ צפי רווח</b>:
                                  {{ "₪{:.2f}".format(team['predicted_total']) }}
                                </span>
                                <br/>
                                <span>
                                    <b>סה"כ זמן מוערך</b>:
                                    {{ team['pretty_total_minutes'] }}
                                </span>
                            {% else %}
                                לא נבחר מסלול
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <span class="h4 route-builder-team-panel__total-line"
                  id="totalPredicted">סה"כ: {{ "₪{:.2f}".format(neighborhood_teams | sum(attribute='predicted_total')) }}</span>
        </div>
        <div class="route-builder-map-panel" id="map">
        </div>
        <div id="route-builder-map-legend">
            <div class="route-builder-map-legend__color route-builder-map-legend__green"></div>
            מעל הממוצע
            <br/>
            <div class="route-builder-map-legend__color route-builder-map-legend__yellow"></div>
            ממוצע
            <br/>
            <div class="route-builder-map-legend__color route-builder-map-legend__red"></div>
            מתחת לממוצע
            <br/>
            <div class="route-builder-map-legend__color route-builder-map-legend__grey"></div>
            משוייך לצוות אחר
            <br/>
            <div class="route-builder-map-legend__color route-builder-map-legend__blue"></div>
            משוייך לצוות הנוכחי
        </div>
        <div class="hidden"></div>
    </main>
    <script type="application/javascript" src="{{ url_for('static', filename='scripts/geo-utils.js') }}"></script>
    <script>
        // Building colors
        const NOT_AVAILABLE_COLOR = '#a2a4a6';
        const PICKED_TEAM_COLOR = '#4287f5';
        const ABOVE_AVG_COLOR = '#55eb34';
        const AVG_COLOR = '#eef207';
        const BELLOW_AVG_COLOR = '#FF0000';
        const BULK_SELECTED_COLOR = '#000';
        const AVG_BIAS = 5;

        // Consts
        const ESTIMATE_MINUTES_PER_FLOOR = {{ ESTIMATE_MINUTES_PER_FLOOR }};

        const teamELms = document.getElementsByClassName('route-builder-team-panel__team');
        const saveButtonElm = document.getElementById('save-button');
        const deleteButtonElm = document.getElementById('remove-button');
        const addButtonElm = document.getElementById('add-button');
        const multiSelectButtonElm = document.getElementById('route-builder-map-multiselect__button');
        const buildings = {{ neighborhood_buildings | tojson  }};
        const neighborhood =  {{ neighborhood_data | tojson }};
        const _teams = {{ neighborhood_teams | tojson }};
        let teams = _teams.map(t => ({...t, buildingIds: t.buildings.map(b => b.id)}));
        const csrfToken = "{{ csrf_token() }}";
        const avgPredictedEarnings = Math.floor(buildings.reduce((accumulator, currentValue) => accumulator + currentValue.predicted_earnings, 0) / buildings.length);

        saveButtonElm.disabled = true;
        saveButtonElm.addEventListener('click', saveChanges);
        addButtonElm.addEventListener('click', createTeam);
        deleteButtonElm.addEventListener('click', deleteTeam);

        // check if should prevent the user to exit the tab if there are any unsaved changes
        window.onbeforeunload = () => {
            if (teams.some(t => t.unclean)) return true;

            return;
        };

        let selectedTeamId;
        let buildingLayerByTeamId = {};
        let selectedTeamBuildings = [];
        let selectionBox;
        let map;

        function calculateTime(minutes) {
            if (minutes < 60) {
                return `${minutes} דקות`
            }

            let parsedHours = Math.floor(minutes / 60);
            if (parsedHours === 1) {
                parsedHours = "שעה"
            } else if (parsedHours === 2) {
                parsedHours = "שעתיים"
            } else {
                parsedHours = `${parsedHours} שעות`
            }

            let parsedMinutes = minutes % 60;
            if (parsedMinutes === 0) {
                parsedMinutes = ""
            } else if (parsedMinutes === 1) {
                parsedMinutes = "ודקה"
            } else {
                parsedMinutes = ` ו-${parsedMinutes} דקות`
            }

            return `${parsedHours} ${parsedMinutes}`.trim();
        }

        function updateTeamId(newTeamId) {
            if (!buildingLayerByTeamId[newTeamId]) buildingLayerByTeamId[newTeamId] = [];

            if (selectedTeamId) {
                // Preforming clean up
                for (const polygon of (buildingLayerByTeamId[selectedTeamId] || [])) {
                    polygon.setOptions({fillColor: NOT_AVAILABLE_COLOR, strokeColor: NOT_AVAILABLE_COLOR})
                }
            }

            // Cleanup multiselect
            for (const polygon of buildings.map(b => b.polygon).filter(p => p.fillColor === BULK_SELECTED_COLOR)) {
                const teamForBuilding = teams.find(t => t.buildingIds.includes(polygon.building.id));
                polygon.setOptions({
                    fillColor: calculatePolygonColor(polygon.building, teamForBuilding),
                    strokeColor: calculatePolygonColor(polygon.building, teamForBuilding)
                });
            }

            selectedTeamId = newTeamId

            // Color the buildings of the team
            for (const polygon of buildingLayerByTeamId[newTeamId]) {
                polygon.setOptions({fillColor: PICKED_TEAM_COLOR, strokeColor: PICKED_TEAM_COLOR})
            }

            // Close info window
            if (window.infoWindow) {
                window.infoWindow.close();
            }

            // Allows to delete the team
            deleteButtonElm.disabled = false;
        }

        function closeAllRoutes() {
            return new Promise((resolve) => {
                $('.route-builder-team-panel__team_route').on('hidden.bs.collapse', function () {
                    resolve();
                })
            })
        }

        function getTotalPredictedEarnings(buildings) {
            return buildings.reduce((accumulator, currentValue) => accumulator + currentValue.predicted_earnings, 0)
        }

        async function handleTeamClick() {
            const newSelectedTeamId = parseInt(this.getAttribute('data-id'), 10);

            if (newSelectedTeamId === selectedTeamId) {
                return;
            }

            // Reset all the other teams
            for (const teamElm of teamELms) {
                teamElm.classList.remove('route-builder-team-panel__team__selected')
            }
            // Turn on the selected team
            this.classList.add('route-builder-team-panel__team__selected')

            const routeElm = $(this).find('.route-builder-team-panel__team_route')

            if (selectedTeamId) {
                // Close all the other routes
                const closeAllRoutesOtherRoutes = closeAllRoutes()
                $('.route-builder-team-panel__team_route').collapse('hide');
                // Waiting for the close animation to close
                await closeAllRoutesOtherRoutes;
            }

            // Open route for the selected team
            routeElm.collapse('show');

            // Update the selected team ID
            updateTeamId(newSelectedTeamId)
        }

        for (const teamElm of teamELms) {
            teamElm.addEventListener('click', handleTeamClick);
        }

        function showLoading() {
            const parent = document.getElementsByClassName('hidden')[0];
            parent.innerHTML = '<div id="modal-content" style="text-align: center;direction: rtl;"><h3>שומר...</h3><div class="lds-dual-ring"></div>';
            $('#modal-content').modal({
                escapeClose: false,
                clickClose: false,
                showClose: false
            })
        }

        function showError() {
            $.modal.getCurrent().$elm[0].innerHTML = "<h3>אופס...</h3><div>התרחשה שגיאה, אנא נסה/י שוב במעוד מאוחר יותר</div><a href='#close' rel='modal:close'><button class='btn btn-secondary'>סגור</button></a>";
            $('#modal-content').modal({
                escapeClose: true,
                clickClose: true,
                showClose: false
            })
        }

        function showSuccess() {
            $.modal.getCurrent().$elm[0].innerHTML = '';

            $('#modal-content').modal({
                escapeClose: true,
                clickClose: true,
                showClose: false
            });

            $.modal.getCurrent().$elm[0].innerHTML = "<h3>המסלולים נשמרו!</h3><div>המסלולים נשמרו בהצלחה!</div><a href='#close' rel='modal:close'><button class='btn btn-secondary'>סגור</button></a>";
        }

        function showTeamCreatedSuccess(newUser) {
            $.modal.getCurrent().$elm[0].innerHTML = '';

            $('#modal-content').modal({
                escapeClose: true,
                clickClose: true,
                showClose: false
            });

            $.modal.getCurrent().$elm[0].innerHTML = `
            <h3>צוות נוצר בהצלחה</h3>
            <div>
                פרטי התחברות:
                <br />
שם משתמש:                ${newUser.username}
                <br />
                סיסמה: <code>${newUser.password}</code>
                <br/>
            </div>
            <a href='#close' rel='modal:close'>
                <button class='btn btn-secondary'>סגור</button>
            </a>`;
        }

        function showTeamDeletedSuccess() {
            $.modal.getCurrent().$elm[0].innerHTML = '';

            $('#modal-content').modal({
                escapeClose: true,
                clickClose: true,
                showClose: false
            });

            $.modal.getCurrent().$elm[0].innerHTML = `
            <h3>הצוות נמחק בהצלחה</h3>
            <a href='#close' rel='modal:close'>
                <button class='btn btn-secondary'>סגור</button>
            </a>`;
        }

        async function saveChanges() {
            const url = "{{ url_for('upsert_routes', campaign_id=campaign_id, neighborhood_id=neighborhood_id) }}";
            const unsavedTeams = teams.filter(t => t.unclean);
            const parsedUpdate = unsavedTeams.reduce((accumulator, currentValue) => {
                accumulator[currentValue.id] = [...currentValue.buildingIds];
                return accumulator;
            }, {});

            showLoading();

            try {
                // Execute the API call
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    },
                    body: JSON.stringify(parsedUpdate) // body data type must match "Content-Type" header
                });

                if (response.ok) {
                    for (const team of unsavedTeams) {
                        team.unclean = false;
                        renderTeamRoute(team);
                    }
                    showSuccess();
                    return;
                }

                // Throw an error if we got a bad response from the BE
                throw new Error(`Got ${response.statusText} (${response.status}) response`);
            } catch (e) {
                // There is an error :(
                console.error(e);
                showError();
            }
        }

        function checkAndRenderNoRouteIndicator(teamDiv) {
            const titleElm = teamDiv.getElementsByClassName('route-builder-team-panel__team_title')[0];
            let noRouteElm = titleElm.getElementsByClassName("route-builder-team-panel__team_title__no_route")[0];
            if (!noRouteElm) {
                // Adding the no route element
                noRouteElm = document.createElement('span');
                noRouteElm.classList.add('route-builder-team-panel__team_title__no_route');
                noRouteElm.innerText = '!';
                titleElm.appendChild(noRouteElm);
            }
        }

        function removeNoRouteIndicator(teamDiv) {
            const titleElm = teamDiv.getElementsByClassName('route-builder-team-panel__team_title')[0];
            const noRouteElm = titleElm.getElementsByClassName("route-builder-team-panel__team_title__no_route")[0];
            if (noRouteElm) {
                noRouteElm.remove()
            }
        }

        function addUncleanIndicator(teamDiv) {
            const titleElm = teamDiv.getElementsByClassName('route-builder-team-panel__team_title')[0];
            let uncleanElm = titleElm.getElementsByClassName("route-builder-team-panel__team_title__unclean")[0];
            if (!uncleanElm) {
                // Adding the unclean element
                uncleanElm = document.createElement('span');
                uncleanElm.classList.add('route-builder-team-panel__team_title__unclean');
                uncleanElm.innerText = '•';
                titleElm.appendChild(uncleanElm)
            }
        }

        function removeUncleanIndicator(teamDiv) {
            const titleElm = teamDiv.getElementsByClassName('route-builder-team-panel__team_title')[0];
            const uncleanElm = titleElm.getElementsByClassName("route-builder-team-panel__team_title__unclean")[0];
            if (uncleanElm) {
                uncleanElm.remove()
            }
        }

        function petrifyPredictedEarnings(totalPredictedEarnings) {
            return `₪${totalPredictedEarnings.toFixed(2)}`;
        }

        function calculateAndRenderTotalPredicted() {
            const totalPredicted = teams.reduce((accumulator, currentValue) => accumulator + getTotalPredictedEarnings(currentValue.buildings), 0);
            document.getElementById('totalPredicted').innerText = `סה"כ: ${petrifyPredictedEarnings(totalPredicted)}`;
        }

        function cleaAddress(address) {
            return address.split(',')[0]
        }

        function renderTeamRoute(team) {
            const teamDiv = document.getElementById(`team-${team.id}`);
            const teamRouteDiv = teamDiv.getElementsByClassName("route-builder-team-panel__team_route")[0];

            // Update the save button - if there are at least 1 team that is unsaved, make the button enabled
            saveButtonElm.disabled = !teams.some(t => t.unclean);

            if (team.unclean) {
                addUncleanIndicator(teamDiv)
            } else {
                removeUncleanIndicator(teamDiv);
            }

            // Generate the route list and sum the predicted earnings
            const routeUL = document.createElement('ul');
            let totalPredictedEarnings = 0;

            for (const building of team.buildings) {
                const buildingLi = document.createElement('li');
                buildingLi.innerText = `${cleaAddress(building.address)} - צפי: ${petrifyPredictedEarnings(building.predicted_earnings)}`;
                routeUL.appendChild(buildingLi)
                totalPredictedEarnings += building.predicted_earnings;
            }
            const prettyTotalPredictedEarnings = petrifyPredictedEarnings(totalPredictedEarnings);

            // Updating the team title
            const teamTitle = teamDiv.querySelector('span.h3');
            teamTitle.innerText = `צוות ${team.id} - ${prettyTotalPredictedEarnings}`;

            calculateAndRenderTotalPredicted();

            if ((team.buildings || []).length === 0) {
                teamRouteDiv.innerText = 'לא נבחר מסלול';
                checkAndRenderNoRouteIndicator(teamDiv);
                return;
            }
            removeNoRouteIndicator(teamDiv);


            // Cleanup the div
            teamRouteDiv.innerHTML = '';

            // Render the new route
            teamRouteDiv.appendChild(routeUL);

            // Adding to total predicted_earnings
            const totalPredictedEarningsSpan = document.createElement('span');
            totalPredictedEarningsSpan.innerHTML = `<b>סה"כ צפי רווח</b>: ${prettyTotalPredictedEarnings}`;
            teamRouteDiv.appendChild(totalPredictedEarningsSpan);

            const newLine = document.createElement('br');
            teamRouteDiv.appendChild(newLine);

            // Adding total predicted time
            const totalPredictedTimeSpan = document.createElement('span');
            const totalMinutes = team.buildings.reduce((a, c) => a + parseInt(c.number_of_floors, 10), 0) * ESTIMATE_MINUTES_PER_FLOOR;
            totalPredictedTimeSpan.innerHTML = `<b>סה"כ זמן מוערך</b>: ${calculateTime(totalMinutes)}`;
            teamRouteDiv.appendChild(totalPredictedTimeSpan);
        }

        function createAddBuildingToRouteButton(building, polygon, infoWindow) {
            const addBuildingToRoute = document.createElement('button');
            addBuildingToRoute.innerText = "הוסף למסלול";
            addBuildingToRoute.classList.add('btn', 'btn-primary');
            addBuildingToRoute.disabled = !Boolean(selectedTeamId)
            addBuildingToRoute.addEventListener('click', () => {
                const selectedTeam = teams.find(t => t.id === selectedTeamId);

                // Adding the building
                selectedTeam.buildingIds.push(building.id);
                selectedTeam.buildings.push(building);

                // Marking the team with as unclean
                selectedTeam.unclean = true;

                // Color the polygon
                polygon.setOptions({'fillColor': PICKED_TEAM_COLOR, strokeColor: PICKED_TEAM_COLOR});

                // Adding the building to the team layer
                if (!buildingLayerByTeamId[selectedTeamId]) buildingLayerByTeamId[selectedTeamId] = []
                buildingLayerByTeamId[selectedTeamId].push(polygon)

                // Update the team list
                renderTeamRoute(selectedTeam);

                infoWindow.close();
            });

            return addBuildingToRoute;
        }

        function createDeleteBuildingFromRouteButton(building, polygon, infoWindow) {
            const deleteBuildingFromRoute = document.createElement('button');
            deleteBuildingFromRoute.innerText = "מחק מהמסלול";
            deleteBuildingFromRoute.classList.add('btn', 'btn-danger');
            deleteBuildingFromRoute.disabled = !Boolean(selectedTeamId)
            deleteBuildingFromRoute.addEventListener('click', () => {
                const selectedTeam = teams.find(t => t.id === selectedTeamId);

                // Remove the building
                selectedTeam.buildingIds = selectedTeam.buildingIds.filter(b => b !== building.id);
                selectedTeam.buildings = selectedTeam.buildings.filter(b => b.id !== building.id);

                // Marking the team with as unclean
                selectedTeam.unclean = true;

                // Color the polygon
                polygon.setOptions({
                    'fillColor': calculatePolygonColor(building, null),
                    strokeColor: calculatePolygonColor(building, null)
                });

                // Remove the building to the team layer
                if (!buildingLayerByTeamId[selectedTeamId]) buildingLayerByTeamId[selectedTeamId] = [];
                buildingLayerByTeamId[selectedTeamId] = buildingLayerByTeamId[selectedTeamId].filter(p => p !== polygon);

                // Update the team list
                renderTeamRoute(selectedTeam);

                infoWindow.close();
            });

            return deleteBuildingFromRoute;
        }


        function rerenderTeams() {
            const teamPanel = document.getElementsByClassName('route-builder-team-panel__routes')[0];
            teamPanel.innerHTML = '';

            for (const team of teams) {
                appendTeam(team)
            }

        }

        function appendTeam(newTeam) {
            const newTeamDiv = document.createElement('div');
            newTeamDiv.id = `team-${newTeam.id}`;
            newTeamDiv.classList.add('route-builder-team-panel__team');
            newTeamDiv.setAttribute('data-id', newTeam.id);
            newTeamDiv.innerHTML = `
                <span class="route-builder-team-panel__team_title">
                    <span class="h3">
                        צוות ${newTeam.id} - ${petrifyPredictedEarnings(getTotalPredictedEarnings(newTeam.buildings))}
                    </span>
                </span>
                <div class="route-builder-team-panel__team_route collapse">
                    לא נבחר מסלול
                </div>
            `;
            newTeamDiv.addEventListener('click', handleTeamClick);


            const teamPanel = document.getElementsByClassName('route-builder-team-panel__routes')[0];
            teamPanel.appendChild(newTeamDiv);

            renderTeamRoute(newTeam)
        }

        function renderDrawingManager() {
            const drawingManager = new google.maps.drawing.DrawingManager({
                drawingControl: true,
                drawingControlOptions: {
                    position: google.maps.ControlPosition.TOP_RIGHT,
                    drawingModes: ['rectangle']
                },
                map
            });

            google.maps.event.addListener(drawingManager, 'rectanglecomplete', function (rectangle) {
                const buildingsInRect = buildings.filter(b => rectangle.bounds.contains(convertPointToLatLng(b.center_point)))
                const center = rectangle.bounds.getCenter();
                rectangle.setMap(null);

                cleanBulkSelection();

                // No team is selected, exiting
                if (!selectedTeamId) {
                    return;
                }

                const freeSelectedBuildings = buildingsInRect.filter(b => b.polygon.fillColor !== NOT_AVAILABLE_COLOR && b.polygon.fillColor !== PICKED_TEAM_COLOR);

                // No free buildings, exiting
                if (freeSelectedBuildings.length === 0) {
                    return;
                }

                // Color the building
                for (const building of freeSelectedBuildings) {
                    building.polygon.setOptions({fillColor: BULK_SELECTED_COLOR, strokeColor: BULK_SELECTED_COLOR});
                }

                infoWindow.setPosition(center);
                infoWindow.open(map);

                infoWindow.setContent(generateBulkSelectionInfoWindow(freeSelectedBuildings));
            });

        }

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 16,
                center: convertPointToLatLng(neighborhood.center_point),
                mapTypeId: "terrain",
                fullscreenControl: false
            });

            const neighborhoodPolygon = new google.maps.Polygon({
                map,
                paths: neighborhood.geometry.map(convertPointToLatLng),
                fillOpacity: 0,
                strokeOpacity: 0.8,
                strokeWeight: 2,
                strokeColor: "#FF0000",
                fillColor: "#FF0000"
            });

            const infoWindow = new google.maps.InfoWindow({
                size: new google.maps.Size(150, 50)
            });

            window.infoWindow = infoWindow;

            google.maps.event.addListener(map, "click", function () {
                infoWindow.close();
            });

            for (const building of buildings) {
                addPolygon(map, infoWindow, building);
            }

            renderDrawingManager();
        }

        function addPolygon(map, infoWindow, building) {
            const teamForBuilding = teams.find(t => t.buildingIds.includes(building.id));

            const polygon = new google.maps.Polygon({
                fillOpacity: 0.38,
                map,
                building,
                paths: building.geometry.map(convertPointToLatLng),
                strokeOpacity: 0.8,
                strokeWeight: 2,
                strokeColor: calculatePolygonColor(building, teamForBuilding),
                fillColor: calculatePolygonColor(building, teamForBuilding),
            });

            building.polygon = polygon;

            google.maps.event.addListener(polygon, "click", function (event) {
                infoWindow.setPosition(event.latLng);
                infoWindow.open(map);

                cleanBulkSelection();

                infoWindow.setContent(generateInfoWindowContent(building, polygon, infoWindow));
            });

            if (teamForBuilding) {
                // Initing the layer
                if (!buildingLayerByTeamId[teamForBuilding.id]) buildingLayerByTeamId[teamForBuilding.id] = []

                buildingLayerByTeamId[teamForBuilding.id].push(polygon)
            }
        }

        function cleanBulkSelection() {
            for (const building of buildings) {
                if (building.polygon.fillColor === BULK_SELECTED_COLOR) {
                    const teamForBuilding = teams.find(t => t.buildingIds.includes(building.id));
                    building.polygon.setOptions({
                        fillColor: calculatePolygonColor(building, teamForBuilding),
                        strokeColor: calculatePolygonColor(building, teamForBuilding)
                    });
                }
            }
        }

        function calculatePolygonColor(building, teamForBuilding) {
            if (teamForBuilding) {
                return NOT_AVAILABLE_COLOR;
            }

            if (building.predicted_earnings > avgPredictedEarnings + AVG_BIAS) {
                return ABOVE_AVG_COLOR;
            }

            if (building.predicted_earnings >= avgPredictedEarnings - AVG_BIAS && building.predicted_earnings <= avgPredictedEarnings + AVG_BIAS) {
                return AVG_COLOR;
            }

            return BELLOW_AVG_COLOR;
        }

        async function createTeam() {
            const url = "{{ url_for('create_new_team_for_route', campaign_id=campaign_id, neighborhood_id=neighborhood_id) }}";

            showLoading();

            try {
                // Execute the API call
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                    },
                });

                if (response.ok) {
                    const newTeamData = await response.json();
                    // Deep clone the team object
                    teams.push({...newTeamData.team, buildingIds: []});

                    showTeamCreatedSuccess(newTeamData.user);
                    appendTeam(newTeamData.team);
                    return;
                }

                // Throw an error if we got a bad response from the BE
                throw new Error(`Got ${response.statusText} (${response.status}) response`);
            } catch (e) {
                // There is an error :(
                console.error(e);
                showError();
            }
        }

        async function deleteTeam() {
            const url = "{{ url_for('delete_team_route', campaign_id=campaign_id, neighborhood_id=neighborhood_id, team_id=-1) }}".replace('-1', selectedTeamId);

            showLoading();

            try {
                // Execute the API call
                const response = await fetch(url, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': csrfToken,
                    },
                });

                if (response.ok) {
                    showTeamDeletedSuccess();

                    // Clear the building color
                    const polygons = buildingLayerByTeamId[selectedTeamId] || [];
                    for (const polygon of polygons) {
                        polygon.setOptions({
                            fillColor: calculatePolygonColor(polygon.building, null),
                            strokeColor: calculatePolygonColor(polygon.building, null)
                        });
                    }

                    // Remove the building layer
                    if (buildingLayerByTeamId[selectedTeamId]) {
                        delete buildingLayerByTeamId[selectedTeamId];
                    }

                    // Remove the team
                    delete teams[teams.findIndex(t => t.id === selectedTeamId)];
                    teams = teams.filter(Boolean); // Clean the undefined pointer from the array

                    // Update the teamId
                    updateTeamId(undefined);

                    // Rerender the teams
                    rerenderTeams();

                    return;
                }

                // Throw an error if we got a bad response from the BE
                throw new Error(`Got ${response.statusText} (${response.status}) response`);
            } catch (e) {
                // There is an error :(
                console.error(e);
                showError();
            }
        }

        function generateInfoWindowContent(building, polygon, infoWindow) {
            const contentDiv = document.createElement('div');
            contentDiv.classList.add('route-builder-map__info_window');

            const addressSpan = document.createElement('span');
            addressSpan.innerHTML = `<u><b>כתובת</b></u>:${cleaAddress(building.address)}`;
            contentDiv.appendChild(addressSpan);

            const numberOfFloorsSpan = document.createElement('span');
            numberOfFloorsSpan.innerHTML = `<u><b>מספר קומות</b></u>: ${building.number_of_floors}`;
            contentDiv.appendChild(numberOfFloorsSpan);

            const predictedEarningsSpan = document.createElement('span');
            predictedEarningsSpan.innerHTML = `<u><b>צפי רווח</b></u>: ${building.predicted_earnings}`;
            contentDiv.appendChild(predictedEarningsSpan);

            const estimateMinutesPerBuildingSpan = document.createElement('span');
            estimateMinutesPerBuildingSpan.innerHTML = `<u><b>זמן מעורך</b></u>: ${calculateTime(parseInt(building.number_of_floors, 10) * ESTIMATE_MINUTES_PER_FLOOR)}`;
            contentDiv.appendChild(estimateMinutesPerBuildingSpan);

            const teamIdOfBuildingInRoute = (teams.find(t => t.buildingIds.includes(building.id)) || {}).id;
            if (teamIdOfBuildingInRoute) {
                const teamNameSpan = document.createElement('span');
                teamNameSpan.innerHTML = `<u><b>משויך</b></u>: לצוות ${teamIdOfBuildingInRoute}`;
                contentDiv.appendChild(teamNameSpan);
            }

            if (selectedTeamId) {
                if (selectedTeamId === teamIdOfBuildingInRoute) {
                    // The selected team is the ones who have this building in the route
                    contentDiv.appendChild(createDeleteBuildingFromRouteButton(building, polygon, infoWindow))
                } else if (polygon.strokeColor !== NOT_AVAILABLE_COLOR) {
                    contentDiv.appendChild(createAddBuildingToRouteButton(building, polygon, infoWindow));
                }
            }

            return contentDiv;
        }

        function generateBulkSelectionInfoWindow(selectedBuildings) {
            const contentDiv = document.createElement('div');
            contentDiv.classList.add('route-builder-map__info_window');

            const numberOfBuildingsSpan = document.createElement('span');
            numberOfBuildingsSpan.innerHTML = `<u><b>מספר ביניינים</b></u>: ${selectedBuildings.length}`;
            contentDiv.appendChild(numberOfBuildingsSpan);

            const predictedEarningsSpan = document.createElement('span');
            const prettyTotalPredictedEarnings = petrifyPredictedEarnings(selectedBuildings.reduce((a, c) => a + c.predicted_earnings, 0));
            predictedEarningsSpan.innerHTML = `<u><b>צפי רווח</b></u>: ${prettyTotalPredictedEarnings}`;
            contentDiv.appendChild(predictedEarningsSpan);

            const estimateMinutesPerBuildingSpan = document.createElement('span');
            const totalMinutes = selectedBuildings.reduce((a, c) => a + parseInt(c.number_of_floors, 10), 0) * ESTIMATE_MINUTES_PER_FLOOR;
            estimateMinutesPerBuildingSpan.innerHTML = `<u><b>זמן מעורך</b></u>: ${calculateTime(totalMinutes)}`;
            contentDiv.appendChild(estimateMinutesPerBuildingSpan);

            const addBuildingsToRoute = document.createElement('button');
            addBuildingsToRoute.innerText = "הוסף למסלול";
            addBuildingsToRoute.classList.add('btn', 'btn-primary');
            addBuildingsToRoute.disabled = !Boolean(selectedTeamId)
            addBuildingsToRoute.addEventListener('click', () => {
                const selectedTeam = teams.find(t => t.id === selectedTeamId);

                // Adding the building
                selectedTeam.buildingIds.push(...selectedBuildings.map(b => b.id));
                selectedTeam.buildings.push(...selectedBuildings);

                // Marking the team with as unclean
                selectedTeam.unclean = true;

                // Color the polygons
                for (const building of selectedBuildings) {
                    building.polygon.setOptions({'fillColor': PICKED_TEAM_COLOR, strokeColor: PICKED_TEAM_COLOR});
                }
                // Adding the building to the team layer
                if (!buildingLayerByTeamId[selectedTeamId]) buildingLayerByTeamId[selectedTeamId] = []
                buildingLayerByTeamId[selectedTeamId].push(...selectedBuildings.map(b => b.polygon))

                // Update the team list
                renderTeamRoute(selectedTeam);

                infoWindow.close();
            });
            contentDiv.appendChild(addBuildingsToRoute);

            return contentDiv;
        }

    </script>

    <script
            async
            defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8k9cPqYxYcm-6RjRlB0BJnCsPaFDQAAY&callback=initMap&libraries=visualization,drawing">
    </script>

{% endblock %}