{% extends "layout.html" %}
{% block content %}
    <div id="subtitle_container">
        <h3>דיווחים</h3>
    </div>
    <main id="main_layout" class="unified_layout">
        <section class="options flex_me center_text">
            <div class="option_button">
                <div class="speech">
                    <img id="reco_icon" onclick="createFastReport('{{ csrf_token() }}')"
                         src={{ url_for('static', filename='fast_report.png') }}/><br>
                    דיווח מהיר
                </div>
            </div>
            <div class="option_button">
                <a class="hide_link" href="{{ url_for('create_report') }}"><img
                        src="{{ url_for('static', filename='reports.png') }}"><br>
                    צור דיווח
                </a>
            </div>
        </section>
        <section class="boxes_container flex_me">
            <section class="box search">
                <h3 class=center_text><u>חפש דיווחים:</u></h3>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-row">
                        <div class="col-md-8 mb-3">
                            {{ form.category.label() }}
                            {{ form.category(class="form-control") }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio custom-control-inline">
                            {% for subfield in form.status %}
                                <tr>
                                    <td>{{ subfield }}</td>
                                    <td>{{ subfield.label }}</td>
                                </tr>
                            {% endfor %}
                        </div>
                    </div>
                    {{ form.submit(class="btn btn-primary btn-lg big_src") }}
                </form>
            </section>
            <section class="box report_list">
                <h3 class=center_text><u> בחר דיווח:</u></h3>
                <ul>
                    {% if reports %}
                        {% for report in reports %}
                            <li>
                                <img src="{{ get_icon(report.is_open) }}">
                                <a id='report_summary'
                                   class='hide_link' href="{{ url_for('view_report', report_id=report.id) }}">
                                    {{ report.creation_time.replace(microsecond=0) }}<br><strong>{{ report.category }}
                                </strong><br>{{ report.address }}, {{ "צוות %s" % (report.team_id) if report.team_id else "אחראי ארצי" }}
                                </a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <div class="center_text">לא נמצאו תוצאות תואמות לחיפוש</div>
                    {% endif %}
                </ul>
            </section>
        </section>
    </main>
{% endblock content %}